* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    padding: 4px 0;
    border-bottom: 2px solid rgba(255, 123, 0, 0.5);
}

header img {
    height: 64px;
}

header h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 48px;
}

header ul li a u {
    font-size: 20px;
    color: #505050;
}

#align-logo-h1 {
    display: flex;
    align-items: center;
}

.carousel-item {
    border-bottom: 2px solid rgba(255, 123, 0, 0.5);
    margin-bottom: 16px;
}

.carousel-item img{
    justify-content: center;
    align-items: center;
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding: 32px 0;
}

section h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

#fruits {
    margin-bottom: 16px;
    border-bottom: 2px solid rgba(255, 123, 0, 0.5);
}

.card {
    padding: 3px;
    border: 2px solid rgba(155, 153, 153, 0.3);
}

.card img {
    border-radius: 4px;
}

#contact input,
textarea {
    max-width: 50%;
}

#contact button {
    margin-top: 8px;
}

@media screen and (max-width: 1023px) {
    #align-logo-h1 {
        display: flex;
        align-items: center;
    }

    .nav-link {
        text-align: center;
    }

    article {
        margin-bottom: 32px;
    }

    #contact input,
    textarea {
        max-width: 75%;
    }
}